.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.Icon_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  padding: 1rem;
  background: linear-gradient(90deg, rgba(0,99,255,1) 0%, rgba(61,142,255,1) 40%, rgba(54,181,255,1) 76%, rgba(160,235,255,1) 100%);
  p {
    font-weight: 900;
    background: -webkit-linear-gradient(grey, white);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.background {
  width: 100%;
  height: 100%;
}

.Details:nth-of-type(3n) .background {
  background: #ffffff;
}

.Details:nth-of-type(2n) .background {
  background: red;
}
